<article class="chirp">
    <div class="titlebar">
        <a href="#/todo" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{date}}</span>
    </div>
    <p>{{text}}</p>
</article>